{% extends "pizzas/base.html" %}

{% block content %}
<p> Pizza: {{ pizza }} </p>

<u1> {% for topping in toppings %}
    {% if pizza == topping.pizza %}
    <li>
        <p>{{ topping.name }}</p>

    </li>

    {% endif %}
    {% endfor %}
</u1>



<form action="pizzas/comments" method="post" id="comment">

    <label for="comment_author" class="required">Your name</label>
    <input type="text" name="comment_author" id="comment_author" value="1" tabindex="1" required="required">
    <p> <button type="submit" name="btn1" value=1>Submit Comment1</button>
</form>



</form>

<td> Comments: &nbsp <a href="{% url 'pizzas:comments' pizza.id %}">{{c}}</a></td>


{% endblock content %}