{% extends "pizzas/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<p> Pizza: {{ pizza }} </p>

<u1> {% for topping in toppings %}
    {% if pizza == topping.pizza %}
    <li>
        <p>{{ topping.name }}</p>

    </li>

    {% endif %}
    {% endfor %}
</u1>
<p> Photo: </p>
<img src="{{p.image.url}}" class="img-thumbnail" style="max-height: 300px;" alt="">

<td> Comments: &nbsp <a href="{% url 'pizzas:comments' pizza.id %}">{{c}}</a></td>




{% endblock content %}